<!DOCTYPE html>
<html lang="pt_BR">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

<!-- Main Content -->
<%- body %>

<!-- Footer -->
<%- partial('_partial/footer') %>

<!-- After Footer -->
<%- partial('_partial/after-footer') %>

</body>

</html>