<div class="mt5 tc tl-l">
    <h3>Anúncios</h3>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Widget Lateral Maicon Schmitz -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6275576875601893"
        data-ad-slot="8727794500"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <br />
    <script>
        window.dna = {
            r:'f43ceb8322885',
            c:'hospedagem-de-sites',
            t:'240x400'
        };
    </script>
    <script type="text/javascript" src="//www.kinghost.com.br/dna.js"></script>
</div>